.vscode
__pycache__
Домашние задания/Задание №1/test.py
Домашние задания/Задание №1/test
Домашние задания/Задание №1/archive
Домашние задания/Задание №1/test.zip
.obsidian
README.pdf
README-FOR-PDF.md
